
@{
    ViewBag.Title = "NewAuthor";
}

<h2>NewAuthor</h2>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>New author</title>
</head>
<body>

    
    <form method="post">
        <p>Name of Author: </p>
        <p>
            <input type="text" name="Name" />
        </p>
        <p>Age: </p>
        <p>
            <input type="text" name="Age" />
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    </form>

</body>
</html>


